<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>글쓰기 페이지</title>

    <!-- 데이지 UI 불러오기 -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css"/>
    <!-- 테일윈드 불러오기 -->
    <script src="https://cdn.tailwindcss.com"></script>

    <script th:inline="javascript">
        function backToList(frm) {

            frm.action = /*[[@{/board/list?page=1}]]*/"";
            frm.submit();
        }
    </script>

</head>
<body>
    <div class="flex justify-center align-center">
        <h1 class="text-2xl">글쓰기</h1>
    </div>

<form name="articleForm" method="POST" th:action="@{/board/addarticle}">
    <table class="table" border="0" align="center">
        <tbody>
        <tr>
            <td>글 제목</td>
            <td class="w-full" colspan="2">
                <input type="text" maxlength="100" name="i_title" class="input input-bordered w-full"
                       placeholder="글의 제목을 입력해주세요!">
            </td>
        </tr>

        <tr>
            <td>글 내용</td>
            <td class="w-full" colspan="2">
                        <textarea class="textarea textarea-bordered w-full" rows="10" maxlength="2000" name="i_content"
                                  placeholder="글의 내용을 입력해주세요!"></textarea>
            </td>
        </tr>

        <tr>
            <td align="right"></td>
            <td class="flex justify-center align-center" colspan="2">
                <input class="btn btn-success m-5" type="submit" value="저장" onclick="fn_modify_article(articleForm)">
                <input class="btn btn-warning m-5" type="button" value="글 목록" onclick="backToList(articleForm)">
            </td>
        </tr>

        </tbody>
    </table>
</form>
</body>
</html>
